 -----
 JiBX Maven Plug-in
 -----
 Don Corley
 -----
 Jan 2, 2012
 -----

Android example

 Instructions on building and running a JiBX android application using maven.
 
* Example

 Checkout the web service sample from our source repository. You'll find it
 {{{https://github.com/jibx/schema-library/blob/master/schema-utilities/examples/android/jibxapp}here}}.

+-----+
 git clone git@github.com:jibx/schema-library.git
 cd schema-library/schema-utilities/examples/android/jibxapp
 mvn clean install
+-----+

 Or follow the instructions in my {{{http://blog.tourgeek.com/2011/12/xml-data-binding-for-java-on-android.html}blog}}.

* Note

 Remember to {{{configure}http://www.sonatype.com/books/mvnref-book/reference/android-dev-sect-config-build.html}} your maven
 development environment for android first:
