 -----
 JiBX Maven Plug-in
 -----
 Don Corley
 -----
 July 10, 2011
 -----

RESTful JiBX web service example

 Instructions on building and running a JiBX web service example using Apache CXF and Apache ServiceMix.
 
* Example

 Step 1: Checkout the web service sample from {{{https://github.com/jibx/maven-plugin/tree/master/examples/cxf-jaxrs}here}} in our source repository. This example is very similar
 to the cxf REST web service example.
 
+-----+
 git clone git@github.com:jibx/maven-plugin.git
 cd maven-plugin/examples/cxf-jaxrs
 mvn clean install
+-----+

 Step 2: Download {{{http://www.fusesource.com/}Apache servicemix (fusesource distribution)}} and start it running.
 
+-----+
 bin/servicemix
+-----+

 Step 3: Add the jibx repository and add the JiBX OSGi bundles.

+-----+
  install mvn:org.jibx/jibx-run/${project.version}
  install mvn:org.jibx.test.examples/org.jibx.examples.cxf.rs/${project.version}
  
  Note: There is a bug in karaf, so you will have to restart the server to get this working:
  (ctrl-d)
  bin/(your karaf server name)
  start xxx  (where xxx is the pid number of cxf-jaxrs)
+-----+

 Step 4: Install the test bundle and run it.
  
+-----+
 install -s mvn:org.jibx.test.examples/org.jibx.examples.cxf.rs/${project.version}
+-----+

 Step 5: Startup your browser and click on this link
 
 {{{http://localhost:8181/cxf/crm/customerservice/customers/123}http://localhost:8181/cxf/crm/customerservice/customers/123}}
 