 -----
 JiBX Maven Plug-in
 -----
 Don Corley
 -----
 February 1, 2013
 -----

Web service example

 Instructions on building and running a JiBX web service example using {{{http://cxf.apache.org}Apache CXF}}.
 
* Example

 This example is located {{{https://github.com/jibx/maven-plugin/tree/master/examples/cxfse-bundle}here is our repository}}.
 This is a basic wsdl-first CXF SOAP example using JiBX databinding. The configuration is very simple. Include the
 jibx databinding flag in your cxf-codegen-plugin and add the jibx databinding class to your blueprint.xml (or spring bean.xml if you prefer).

 Step 1: Download {{{http://karaf.apache.org}Apache karaf}} and fire it up.
 
+-----+
 bin/karaf
+-----+

 Step 2: Add cxf and start it.

+-----+
karaf@root> features:addurl mvn:org.apache.cxf.karaf/apache-cxf/${cxf-version}/xml/features
karaf@root> features:install cxf cxf-databinding-jibx http
+-----+

 Step 3: Install the test JiBX SOAP web service and run it.
  
+-----+
 install -s mvn:org.jibx.test.examples/org.jibx.examples.cxf.ws
+-----+

 Step 4: Download {{{http://www.soapui.org/}soapui}} or your favorite web service client and send a soap message.
 You will find your wsdl here:
 
 {{{http://localhost:8092/PersonService/?wsdl}http://localhost:8092/PersonService/?wsdl}}
 